.body {
    display: flex;
    background: linear-gradient(180deg, #db0202 0%, rgba(92, 90, 90, 0.397) 100%);
    width: 100%;
    min-height: 100vh;
    background-color: black;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
    padding: 20px;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 6;
    gap: 10px;
    padding: 20px;
    margin-top: 80px; 
}

.proyects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.photos {
    display: flex;
    gap: 5rem; 
    justify-content: center; 
    margin-top: 20px; 
}

.title {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 50px 20px;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .content-body {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px;
        margin-top: 60px; 
    }

    .proyects-content {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-gap: 15px;
        padding: 10px;
    }

    .title {
        font-size: 1.5rem;
        padding: 20px;
    }

    .photos {
        gap: 3rem; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem;
        padding: 10px;
    }

    .photos img {
        width: 100px; 
    }

    .content-body {
        padding: 5px;
        margin-top: 40px;
    }
}
