
.body{
 display: flex;
 background:linear-gradient(180deg, #db0202 0%, rgba(92, 90, 90, 0.397) 100%);
 width: 100%;
 height:100rem ;
 background-color: black;
 font-family: "New Amsterdam", sans-serif;  
 font-weight: 400;
 font-style: normal;
}
.content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    
}

.content-body{
    display: flex;
    grid-column-start:2;
    grid-row-start: 2;
    grid-column-end: 6;
    gap: 2px;
    
}

.proyects-content{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end:4;
   
}

.photos{
    margin: auto;
    display: flex;
    gap: 25rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.title{
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding:100px; 
}